fastapi
uvicorn[standard]
pydantic
pydantic-settings
ultralytics
opencv-python-headless
numpy
loguru
python-multipart
websockets
async-timeout
httpx
pytest
pytest-asyncio
python-dotenv
aiofiles
haversine
scipy
